rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() { return request.auth != null; }
    function emailLower() {
      return signedIn() && request.auth.token.email != null
        ? request.auth.token.email.lower()
        : "";
    }
    function isAdmin() {
      return emailLower() in [
        'ludovicogiarola@gmail.com'
      ];
    }

    match /socialJobs/{docId} {
      allow read, write: if isAdmin();
    }
  }
}
